#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#button-container img {
    height: 32px;
    margin: 10px 0;
    margin-right: 16px;
    float: left;
}

#button-container>a {
    display: block;
    margin: auto;
    width: 300px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    line-height: 52px;
    padding: 0 10px;
    border-radius: 8px;
    background: none;
    border: 2px solid aliceblue;
    transition: .2s;
}

.divider {
    margin: auto;
    width: 300px;
    height: 1px;
    background: aliceblue;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
    #landing-page-container > h1 {
        margin: 10px 0;
        position: relative;
        background-color: transparent;
    }
}

.lower-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 200;
}

#reset-progress-button, #stats-button {
    font-weight: 200;
    font-size: 16px;
    border: none;
    padding: 0;
    margin: 0;
}
#reset-progress-button:hover, #stats-button:hover {
    text-decoration: underline;
}