@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background: linear-gradient(135deg,#444557, #30303D, #950713);
	background-size: 150% 150%;
    animation: background 15s ease-in-out infinite;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}
body {
    margin: 0;
    color: aliceblue;
    font-family: "Jost", sans-serif;
    overflow: scroll;
}

@keyframes background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-top: 42px;
}
#button-container img {
    height: 32px;
    margin: 10px 0;
    margin-right: 16px;
    float: left;
}

#button-container>a {
    display: block;
    margin: auto;
    width: 300px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    line-height: 52px;
    padding: 0 10px;
    border-radius: 8px;
    background: none;
    border: 1px solid aliceblue;
    transition: .2s;
}
#button-container>a:hover, .active {
    border: 1px solid aliceblue;
    background: rgba(240, 248, 255, 0.2);
}

.divider {
    margin: auto;
    width: 300px;
    height: 1px;
    background: aliceblue;
}

h1 {
    font-family: "Jaro", sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
    color: aliceblue;
    margin: 10px 0;

}

h1>a {
    color: aliceblue;
    text-decoration: none;
}

h2 {
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    margin: 0 20px;
    margin-top: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: center;
    margin-bottom: 42px;
}

#answer-container {
    display: block;
    text-align: center;
    font-size: 28px;
}

#poster {
    position: relative;
    background-size: cover;
    border-radius: 10px;
    width: 410px;
    overflow: hidden;
}

#poster>img {
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */

    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(25px) grayscale(100%);
    transition: .2s;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 40%;
    height: 600px;
    overflow: scroll;
}


.number-stats {
    display: flex;
    gap: 32px;
}

.chiplist {
    margin-top: 4px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.chip {
    box-shadow: inset 0 0 0 1.5px aliceblue;
    background: transparent;
    border-radius: 8px;
    padding: 0px 10px;
    line-height: 32px;
    max-height: 32px;
    margin: 0;

    transition: .2s;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

#search {
   font-family: Jost, sans-serif;
    font-size: 20px;
   width: 40%;
   padding: 6px 12px;
   /* border-radius: 8px;
   border: none;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0; */
   border: none;
   border-bottom: 1px solid aliceblue;
   background: none;
   outline: none;
   color: aliceblue;
   transition: .2s;
}
#search:focus {
    background: rgba(240, 248, 255, 0.2);
}
#search::placeholder {
    color: aliceblue;
    opacity: 0.5;
}

button {
    font-family: Jost, sans-serif;
    font-size: 20px;
    padding: 6px 20px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: none;
    color: aliceblue;
    cursor: pointer;
    transition: .2s;
    border: 1px solid transparent;
    border-bottom: 1px solid aliceblue;
}

button:hover {
    border: 1px solid aliceblue;
}

.wrong {
    animation: wrong .5s ease-in
}

@keyframes wrong {
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(-30px);
    }
    29% {
        transform: translateX(30px);
    }
    30% {
        transform: translateX(-20px);
    }
    40% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(10px);
    }
    70% {
        transform: translateX(0px);
    }
}

.success {
    background: linear-gradient(150deg,#b5f25b 0%, #4caf50 40%, #459748 100%);
    box-shadow: none;
    text-shadow: 0px 0px 2px #00000036;
    animation: success 0.5s ease-in-out;
}

@keyframes success {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.range {
    line-height: 20px;
    margin-top: -4px;
}

.close-range {
    color: #ecde1f;
}

.bounce {
    animation: success 0.5s ease-in-out;
}

label {
    font-size: 20px;
    font-weight: 300;
}

.hidden-word {
    color: transparent;
    text-decoration: underline;
    text-decoration-color: aliceblue;
    text-decoration-skip-ink: none;
}

#guesses-left {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 42px;
}

.x {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    position: relative;
}

.x:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 20px; 
    color: #E54242;
    line-height: 16px;
    text-align: center;
}

.check-mark {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    position: relative;
}

.check-mark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2713";
    font-size: 20px; 
    color: #4caf50;
    line-height: 16px;
    text-align: center;
}


.dot {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    position: relative;
}

.dot:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "•";
    font-size: 20px; 
    color: #FFF;
    line-height: 24px;
    font-weight: 900;
    text-align: center;
}

#plot {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 62px;
    }
    main {
        gap: 0px;
        margin-bottom: 100px;
    }
    h1 {
        background-color: #201717;
        margin: 0;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }
    .info {
        max-width: 100%;
        height: auto;
        margin: 20px;
    }
    #top-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #201717;
        z-index: 100;
    }
    #search-container {
        margin: 10px 20px 0 20px;
    }
    #search {
        width: unset;
        flex: 1;
        border-radius: 0;
    }
    #guesses-left {
        margin-bottom: 10px;
    }
    #poster {
        margin: 20px;
        margin-bottom: 0;
    }
    .number-stats {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.help-link {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.back-link {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.help-link > img {
    height: 32px;
    margin: 15px 0;
}

.back-link > img {
    height: 26px;
    margin: 18px 0;
}